openapi: 3.0.0
info:
  title: LoRaDevices API
  description: API für den Zugriff auf LoRa-Geräte und deren Sensordaten
  version: 1.0.0
  contact:
    name: Makerspace Partheland e.V.
    email: info@makerspace-partheland.de

servers:
  - url: https://data.makerspace-partheland.de/
    description: Produktions-Server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API-Key für detaillierte Informationen

paths:
  /LoRaDevices:
    get:
      summary: Liste aller LoRa-Geräte
      description: Gibt eine Übersicht aller verfügbaren LoRa-Geräte zurück
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "sensebox1"
                        type:
                          type: string
                          example: "senseBox"
                        name:
                          type: string
                          example: "SenseBox 1"

  /LoRaDevices/senseBox:
    get:
      summary: Liste aller senseBox-Geräte
      description: Gibt eine Übersicht aller senseBox-Geräte zurück
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum: ["senseBox"]
                        name:
                          type: string

  /LoRaDevices/senseBox/details:
    get:
      summary: Detaillierte Informationen zu senseBox-Geräten
      description: Gibt detaillierte Informationen inkl. Sensorwerte zurück
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        name:
                          type: string
                        location:
                          type: object
                          properties:
                            lat:
                              type: number
                            lon:
                              type: number
                        sensors:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: number
                              unit:
                                type: string
                        lastSeen:
                          type: string
                          format: date-time
        '401':
          description: Nicht autorisiert - API-Key fehlt oder ungültig

  /LoRaDevices/senseBox/health:
    get:
      summary: Status der senseBox-Geräte
      description: Gibt den Online/Offline-Status der Geräte zurück
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: string
                          enum: ["online", "offline"]
                        lastSeen:
                          type: string
                          format: date-time

  /LoRaDevices/waterlevel:
    get:
      summary: Liste aller Wasserpegel-Geräte
      description: Gibt eine Übersicht aller Wasserpegel-Geräte zurück
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "level1"
                        type:
                          type: string
                          enum: ["waterlevel"]
                          example: "waterlevel"
                        name:
                          type: string
                          example: "Pegel Standort 1"

  /LoRaDevices/waterlevel/details:
    get:
      summary: Detaillierte Informationen zu Wasserpegel-Geräten
      description: Gibt detaillierte Informationen inkl. aktuelle Pegelstände zurück
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "level1"
                        type:
                          type: string
                          enum: ["waterlevel"]
                        name:
                          type: string
                          example: "Pegel Standort 1"
                        location:
                          type: object
                          properties:
                            lat:
                              type: number
                              example: 51.124
                            lon:
                              type: number
                              example: 12.124
                        currentLevel:
                          type: number
                          example: 123.45
                        unit:
                          type: string
                          example: "cm"
                        trend:
                          type: string
                          enum: ["rising", "falling", "stable"]
                          example: "rising"
                        lastSeen:
                          type: string
                          format: date-time
                          example: "2024-01-20T12:00:00Z"
                        battery:
                          type: number
                          example: 3.6
                          description: "Batteriespannung in Volt"
        '401':
          description: Nicht autorisiert - API-Key fehlt oder ungültig

  /LoRaDevices/waterlevel/health:
    get:
      summary: Status der Wasserpegel-Geräte
      description: Gibt den Online/Offline-Status der Wasserpegel-Geräte zurück
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "level1"
                        status:
                          type: string
                          enum: ["online", "offline"]
                          example: "online"
                        lastSeen:
                          type: string
                          format: date-time
                          example: "2024-01-20T12:00:00Z"
                        battery:
                          type: object
                          properties:
                            value:
                              type: number
                              example: 3.6
                            status:
                              type: string
                              enum: ["good", "low", "critical"]
                              example: "good"
