openapi: 3.0.0
info:
  title: Sensordaten API
  description: |
    API für den Zugriff auf Geräte, Gateways und Sensordaten.

    # MQTT-Endpunkte
    Neben der REST-API stehen auch MQTT-Topics zur Verfügung.

    ## MQTT Broker
    - WebSocket URL: wss://mqtt.makerspace-partheland.de:443/mqtt

    ## Verfügbare Topics

    ### senseBox:home Daten 
    Topic: `senseBox:home/{device}`
    ```json
    {
      "fields": {
        "Beleuchtungsstaerke": 0,
        "GehaeuseTemp": 9,
        "Lautstaerke": 45.2,
        "Lautstaerke_Max": 48.1,
        "Luftdruck": 995.2,
        "Luftfeuchte": 84.3,
        "PM10": 38.2,
        "PM10_Max": 43.5,
        "PM2.5": 17.9,
        "PM25_Max": 19.3,
        "Temperatur": 7.9,
        "UV-Intensitaet": 0
      },
      "name": "Beucha_Nr1",
      "timestamp": 1743194885
    }
    ```

    ### Sensoren Daten 
    Topic: `sensoren/{device}`
    ```json
    {
      "fields": {
        "bat": 3.264,
        "distance": 1493,
        "distance_to_ground": 1820,
        "latitude": 51.000000,
        "longitude": 12.000000,
        "meldestufe": 0,
        "us_sensor": 1,
        "water": "Parthe",
        "water_level": 327
      },
      "name": "LDDS75_Naunhof_1",
      "timestamp": 1743193867
    }
    ```

    ## Topic-Struktur
    - `senseBox:home/`: Enthält alle senseBox-Geräte 
    - `sensoren/`: Enthält Wasserstand-Sensoren und weitere Sensortypen

  version: 1.0.4
  license:
    name: MIT
    url: https://opensource.org/license/mit
  contact:
    name: Makerspace Partheland e.V.
    url: https://makerspace-partheland.de

servers:
  - url: https://data.makerspace-partheland.de
    description: Produktions-Server

security: []
    
tags:
  - name: "Geräte"
    description: "Geräte- und Gatewaydaten als GeoJSON und NGSI-LD"
  - name: "Ingest"
    description: "Upload-Endpunkt für externe Messdatenzulieferer"
    
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API-Key für geschützte API-Funktionen
      
  schemas:
    GeoJSONResponse:
      type: object
      properties:
        type:
          type: string
          example: "FeatureCollection"
        features:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              type:
                type: string
                example: "Feature"
              geometry:
                type: object
                properties:
                  type:
                    type: string
                    example: "Point"
                  coordinates:
                    type: array
                    items:
                      type: number
                    example: [12.000000, 51.000000]
              properties:
                type: object
                description: "Gerätespezifische Attribute; insbesondere enthalten `osm` (openSenseMap) und `mspl` (Makerspace Partheland) URLs zu den jeweiligen Portalen mit UI-basierten Messwertansichten."
                additionalProperties: true

    MeasurementValue:
      type: object
      description: "Ein Messwert mit Einheit und Zeitstempel (ISO 8601)."
      properties:
        value:
          type: number
          description: "Gemessener Wert"
        unit:
          type: string
          description: "Einheiten-Code nach internationalem Standard (z. B. UN/CEFACT Recommendation 20/21), z. B. CEL, HPA, LX, DB, GQ, MMT, VLT"
        timestamp:
          type: string
          format: date-time
          description: "Zeitpunkt der Messung (UTC)"

    Measurements:
      type: object
      description: "Sammlung der aktuellen Sensormesswerte des Geräts. Schlüssel entsprechen den standardisierten Feldnamen."
      properties:
        temperature:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Lufttemperatur (Einheit CEL)"
        temperature_case:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Gehäusetemperatur (Einheit CEL)"
        humidity:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Relative Luftfeuchte (Einheit P1 = Prozent)"
        pressure:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Luftdruck (Einheit HPA)"
        illuminance:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Beleuchtungsstärke (Einheit LX)"
        uv:
          $ref: '#/components/schemas/MeasurementValue'
          description: "UV-Intensität (Einheit UV)"
        noise:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Schallpegel (Einheit DB)"
        noise_max:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Maximaler Schallpegel im Messintervall (Einheit DB)"
        pm10:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Feinstaub PM10 Massenkonzentration (Einheit GQ)"
        pm10_max:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Maximaler PM10-Wert im Messintervall (Einheit GQ)"
        pm2_5:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Feinstaub PM2.5 Massenkonzentration (Einheit GQ)"
        pm2_5_max:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Maximaler PM2.5-Wert im Messintervall (Einheit GQ)"
        water_level:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Wasserstand (Einheit MMT)"
        distance:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Abstand (Einheit MMT)"
        distance_to_ground:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Abstand zum Boden (Einheit MMT)"
        battery:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Batteriespannung (Einheit VLT)"
        water_temperature:
          $ref: '#/components/schemas/MeasurementValue'
          description: "Wassertemperatur (Einheit CEL)"

    DeviceProperties:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
          description: "Name des Geräts (technischer Name; nicht 'displayname')"
        type:
          type: string
          description: "Typ des Geräts (SenseBoxDevice, WaterLevelDevice, TemperatureDevice, MoistureDevice)"
        status:
          type: string
          enum: [online, offline, pending, Online, Offline, Pending]
          description: "Aktueller Status"
        last_seen:
          type: string
          format: date-time
          description: "Letzter Kontakt (UTC)"
        last_seen_de:
          type: string
          description: "Letzter Kontakt (deutsche Zeit)"
        attributes:
          $ref: '#/components/schemas/AttributesPublic'
        measurements:
          $ref: '#/components/schemas/Measurements'

    DeviceFeature:
      type: object
      additionalProperties: true
      properties:
        type:
          type: string
          example: "Feature"
        id:
          type: string
          description: "Eindeutige Geräte-ID"
        geometry:
          type: object
          properties:
            type:
              type: string
              example: "Point"
            coordinates:
              type: array
              items:
                type: number
              example: [12.000000, 51.000000]
          description: "WGS84-Geometrie des Geräts; Koordinaten in der Form [Längengrad, Breitengrad]."
        properties:
          $ref: '#/components/schemas/DeviceProperties'

    DeviceGeoJSONResponse:
      type: object
      properties:
        type:
          type: string
          example: "FeatureCollection"
        features:
          type: array
          items:
            $ref: '#/components/schemas/DeviceFeature'

    # Standort-Aggregation (location + sensor) als eigenes Feature-Schema
    AggregatedLocationProperties:
      type: object
      properties:
        location:
          type: string
          description: "Standortname (z. B. naunhof)"
        sensor:
          type: string
          description: "Sensorname (z. B. temperature)"
        aggregation:
          type: string
          enum: [median, mean, min, max, latest]
          description: "Aggregationsmethode"
        value:
          type: number
          nullable: true
          description: "Aggregierter Messwert"
        unit:
          type: string
          description: "Einheiten-Code (z. B. CEL, DB, LX, MMT)"
        deviceCount:
          type: integer
          description: "Anzahl einbezogener Geräte"
        devices:
          type: array
          description: "Liste der Measurement-Namen beteiligter Geräte"
          items:
            type: string
        timestamp:
          type: string
          format: date-time
          description: "Erzeugungszeitpunkt der Aggregation (UTC)"

    AggregatedLocationFeature:
      type: object
      properties:
        type:
          type: string
          example: "Feature"
        geometry:
          type: object
          properties:
            type:
              type: string
              example: "Point"
            coordinates:
              type: array
              items:
                type: number
              example: [12.586797, 51.283337]
        properties:
          $ref: '#/components/schemas/AggregatedLocationProperties'

    DeviceOrLocationGeoJSONResponse:
      type: object
      properties:
        type:
          type: string
          example: "FeatureCollection"
        features:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/DeviceFeature'
              - $ref: '#/components/schemas/AggregatedLocationFeature'

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: "Fehlercode (z. B. INVALID_PARAMETER_COMBINATION, INVALID_SENSOR, INVALID_API_KEY, NOT_FOUND)"
            message:
              type: string
              description: "Beschreibung des Fehlers"
            details:
              type: object
              additionalProperties: true
              description: "Optionale Detailinformationen"
        timestamp:
          type: string
          format: date-time
          description: "Zeitpunkt der Fehlererzeugung (UTC)"

    IngestAcceptedResponse:
      type: object
      properties:
        id:
          type: string
          description: "Interne Annahme-ID des Uploads"
          example: "1778276243090-6a1884aa42553"
        status:
          type: string
          description: "Annahmestatus"
          example: "accepted"

    AttributesPublic:
      type: object
      description: "Öffentliche Geräteattribute mit Portal-Links und Anzeigeinformationen."
      properties:
        osm:
          type: string
          format: uri
          description: "Link zur openSenseMap-Geräteseite (UI mit Messwerten)."
        mspl:
          type: string
          format: uri
          description: "Link zur Makerspace-Partheland-Visualisierung (UI mit Messwerten)."
        measurement:
          type: string
          description: "Interner Messwert-/Measurement-Name des Geräts."
        displayname:
          type: string
          description: "Nutzerfreundlicher Anzeigename des Geräts."
      additionalProperties: true

paths:
  /ingest:
    post:
      operationId: uploadMeasurements
      tags: ["Ingest"]
      summary: "Messdaten per HTTP hochladen"
      description: |
        Nimmt Messdaten externer Zulieferer per HTTP entgegen.
        Die maximale Payload-Größe beträgt 64 KiB.

        Für Uploads ist ein API-Key im Header `x-api-key` erforderlich. Einen Upload-Key erhalten Zulieferer über https://makerspace-partheland.de/austausch/.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: "JSON-Payload des Zulieferers. Die genaue Struktur wird vor der Anbindung abgestimmt. Maximal 64 KiB."
            examples:
              chirpstackUplink:
                summary: "Beispiel eines dekodierten Uplinks"
                value:
                  deviceInfo:
                    deviceName: "test-device-001"
                  time: "2026-05-08T21:40:00Z"
                  object:
                    temperature: 21.4
                    humidity: 55
      responses:
        '202':
          description: "Upload wurde angenommen"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestAcceptedResponse'
              examples:
                accepted:
                  value:
                    id: "1778276243090-6a1884aa42553"
                    status: "accepted"
        '400':
          description: "Ungültige oder fehlende JSON-Payload"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: "API-Key fehlt oder ist ungültig"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: "Payload ist größer als 64 KiB"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: "Upload kann aktuell nicht angenommen werden"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /geojson/devices:
    get:
      operationId: listDevicesGeoJSON
      tags: ["Geräte"]
      summary: "Erhalte alle Geräte im GeoJSON-Format"
      description: |
        Liefert Geräte und Sensordaten als GeoJSON-FeatureCollection.
        Die Attribute `osm` (openSenseMap) und `mspl` (Makerspace Partheland) liefern Links zu Visualisierungsoberflächen, auf denen Messwerte im jeweiligen Portal eingesehen werden können.
      parameters:
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: "API-Key für detaillierte Attribute (z.B. interne Metadaten); ohne Key werden nur freigegebene Attribute ausgegeben."
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [sensebox, waterlevel, temperature, moisture]
          description: "Filter für Gerätetyp (Dropdown)"
        - name: device
          in: query
          required: false
          schema:
            type: string
          description: "Filter für ein spezifisches Gerät (frei eingeben)"
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: "Alias zu 'device'; Geräte-ID oder Measurement-Name (z. B. Beucha_Nr1)."
        - name: location
          in: query
          required: false
          schema:
            type: string
          description: "Standort-Aggregation (z.B. naunhof, brandis oder * für alle Standorte im Partheland)."
        - name: sensor
          in: query
          required: false
          schema:
            type: string
            enum: [temperature, noise, humidity, pressure, water_level, pm10, pm2_5, uv, illuminance]
          description: "Sensorname für Standort-Aggregation. Muss zusammen mit `location` angegeben werden. Unterstützt: temperature (CEL), noise (DB), humidity (P1), pressure (HPA), water_level (MMT), pm10 (GQ), pm2_5 (GQ), uv (UV), illuminance (LX)."
        - name: aggregation
          in: query
          required: false
          schema:
            type: string
            enum: [median, mean, min, max, latest]
          description: "Aggregation für Standort-Aggregation (Standard: median)."
      responses:
        '200':
          description: "GeoJSON-FeatureCollection mit allen Geräten oder Standort-Aggregationen"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceOrLocationGeoJSONResponse'
              examples:
                senseBox:
                  summary: "SenseBox-Gerät mit Detaildaten"
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        id: "mspl-70b3d57ed004ce79"
                        geometry:
                          type: "Point"
                          coordinates: [12.586797, 51.283337]
                        properties:
                          name: "sensebox-naunhof"
                          type: "SenseBoxDevice"
                          status: "online"
                          last_seen: "2025-10-11T19:31:10.538Z"
                          last_seen_de: "11.10.2025, 21:31:10"
                          attributes:
                            osm: "https://opensensemap.org/explore/62115bc4e00700001bec2e11"
                            mspl: "https://sensoren.makerspace-partheland.de/d/f03fd776-08e7-4537-a463-b13c85e415e1/station-naunhof-nr-1"
                            measurement: "Naunhof_Nr1"
                            displayname: "Naunhof Nr 1"
                          measurements:
                            temperature:
                              value: 13.8
                              unit: "CEL"
                              timestamp: "2025-10-11T19:34:22.000Z"
                            pm2_5:
                              value: 4.2
                              unit: "GQ"
                              timestamp: "2025-10-11T19:34:22.000Z"
                waterLevel:
                  summary: "Wasserstandssensor (WaterLevelDevice)"
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        id: "eui-a84041a17359b296"
                        geometry:
                          type: "Point"
                          coordinates: [12.581094503402712, 51.28500540377473]
                        properties:
                          name: "LDDS75 Naunhof 1"
                          type: "WaterLevelDevice"
                          status: "online"
                          last_seen: "2025-10-11T20:37:38.828Z"
                          last_seen_de: "11.10.2025, 22:37:38"
                          attributes:
                            mspl: "https://sensoren.makerspace-partheland.de/d/ae459r4tpq03ke/pegelstande"
                            measurement: "LDDS75_Naunhof_1"
                            displayname: "Parthe 1"
                          measurements:
                            water_level:
                              value: 180
                              unit: "MMT"
                              timestamp: "2025-10-11T21:17:32.000Z"
                locationAggregation:
                  summary: "Standort-Aggregation (location + sensor)"
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        geometry:
                          type: "Point"
                          coordinates: [12.586797, 51.283337]
                        properties:
                          location: "naunhof"
                          sensor: "temperature"
                          aggregation: "median"
                          value: 13.7
                          unit: "CEL"
                          deviceCount: 8
                          devices:
                            - "Naunhof_Nr1"
                            - "Naunhof_Nr3"
                            - "Naunhof_Nr5"
                          timestamp: "2025-10-11T19:35:14.264Z"
        '400':
          description: "Ungültiger Parameter (z.B. falsche Kombination von location/sensor mit type/id, unbekannter Sensor oder Aggregation)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: "API-Key erforderlich oder ungültig für angeforderte Detailinformationen."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: "Kein Gerät bzw. keine Messwerte zur Abfrage gefunden."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /geojson/devices/{type}:
    get:
      operationId: listDevicesByTypeGeoJSON
      tags: ["Geräte"]
      summary: "Erhalte Geräte eines spezifischen Typs im GeoJSON-Format"
      description: |
        Filtert Geräte nach Typ (`sensebox`, `waterlevel`, `temperature` oder `moisture`).
        Die Attribute `osm` (openSenseMap) und `mspl` (Makerspace Partheland) verlinken direkt auf die jeweiligen Portale zur Visualisierung derselben Messwerte.
        Standort-Aggregationen (`location`, `sensor`, `aggregation`) werden über `/geojson/devices` abgefragt.
      parameters:
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: "API-Key für detaillierte Attribute (z.B. interne Metadaten); ohne Key werden nur freigegebene Attribute ausgegeben."
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [sensebox, waterlevel, temperature, moisture]
          description: "Gerätetyp (Dropdown)"
        - name: device
          in: query
          required: false
          schema:
            type: string
          description: "Filter für ein spezifisches Gerät (frei eingeben)"
      responses:
        '200':
          description: "GeoJSON-FeatureCollection mit gefilterten Geräten"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGeoJSONResponse'
        '401':
          description: "API-Key erforderlich oder ungültig für angeforderte Detailinformationen."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: "Kein Gerät für die Kombination aus Typ und Filter gefunden."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: "Ungültiger Gerätetyp"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /geojson/devices/{type}/{id}:
    get:
      operationId: getDeviceGeoJSON
      tags: ["Geräte"]
      summary: "Erhalte ein Gerät im GeoJSON-Format"
      description: |
        Liefert ein einzelnes Gerät als GeoJSON-FeatureCollection. `type` ist einer der Werte `sensebox`, `waterlevel`, `temperature` oder `moisture`.
      parameters:
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: "API-Key für detaillierte Attribute (z.B. interne Metadaten); ohne Key werden nur freigegebene Attribute ausgegeben."
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [sensebox, waterlevel, temperature, moisture]
          description: "Gerätetyp"
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Geräte-ID oder Measurement-Name"
      responses:
        '200':
          description: "GeoJSON-FeatureCollection mit einem Gerät"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGeoJSONResponse'
        '400':
          description: "Ungültiger Gerätetyp"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: "API-Key erforderlich oder ungültig für angeforderte Detailinformationen."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: "Kein Gerät für die Kombination aus Typ und ID gefunden."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /ngsi-ld/entities:
    get:
      operationId: listDevicesNGSILD
      tags: ["Geräte"]
      summary: "Erhalte Geräte im NGSI-LD Format"
      description: |
        Liefert Geräte und Sensordaten als NGSI-LD-Entitäten.
        Die Attribute `osm` (openSenseMap) und `mspl` (Makerspace Partheland) innerhalb der bereitgestellten Gerätedaten verweisen auf die jeweiligen UI-Portale mit identischen Messwerten.
        Standort-Aggregationen (`location`, `sensor`, `aggregation`) liefern NGSI-LD Location-Entitäten mit aggregierten Messwerten je Standort.
      parameters:
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: "API-Key für detaillierte Attribute (z.B. interne Metadaten); ohne Key werden nur freigegebene Attribute ausgegeben."
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [sensebox, waterlevel, temperature, moisture]
          description: "NGSI-LD Entity-Typ (Dropdown)"
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: "Geräte-ID oder Measurement-Name (z.B. Beucha_Nr1, LDDS75_Naunhof_2, LSN50_001_Kirchbruch_Beucha) – keine URN! (frei eingeben)"
          example: LSN50_001_Kirchbruch_Beucha
        - name: location
          in: query
          required: false
          schema:
            type: string
          description: "Standort-Aggregation (z.B. naunhof, brandis oder * für alle Standorte)."
        - name: sensor
          in: query
          required: false
          schema:
            type: string
            enum: [temperature, noise, humidity, pressure, water_level, pm10, pm2_5, uv, illuminance]
          description: "Sensorname für Standort-Aggregation. Muss zusammen mit `location` angegeben werden. Unterstützt: temperature (CEL), noise (DB), humidity (P1), pressure (HPA), water_level (MMT), pm10 (GQ), pm2_5 (GQ), uv (UV), illuminance (LX)."
        - name: aggregation
          in: query
          required: false
          schema:
            type: string
            enum: [median, mean, min, max, latest]
          description: "Aggregation für Standort-Aggregation (Standard: median)."
      responses:
        '200':
          description: "NGSI-LD Entities"
          content:
            application/ld+json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        id:
                          type: string
                          description: "NGSI-LD Entity ID"
                        type:
                          type: string
                          description: "NGSI-LD Entity Type"
                        "@context":
                          type: array
                          items:
                            type: string
                          description: "NGSI-LD Context URLs"
                  - type: object
                    additionalProperties: true
              examples:
                ngsiLdExample:
                  value:
                    - id: "urn:ngsi-ld:Device:eui-a84041a17359b296"
                      type: "WaterLevelDevice"
                      "@context":
                        - "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld"
                        - "https://makerspace-partheland.de/ngsi-ld/v1/"
                      name:
                        type: "Property"
                        value: "LDDS75 Naunhof 1"
                      deviceType:
                        type: "Property"
                        value: "waterlevel"
                      location:
                        type: "GeoProperty"
                        value:
                          type: "Point"
                          coordinates: [12.581094503402712, 51.28500540377473]
                      status:
                        type: "Property"
                        value: "online"
                        observedAt: "2025-10-11T20:37:38.828Z"
                      battery:
                        type: "Property"
                        value: 3.283
                        unitCode: "VLT"
                        observedAt: "2025-10-11T21:17:32.000Z"
                      distance:
                        type: "Property"
                        value: 1640
                        unitCode: "MMT"
                        observedAt: "2025-10-11T21:17:32.000Z"
                      distance_to_ground:
                        type: "Property"
                        value: 1820
                        unitCode: "MMT"
                        observedAt: "2025-10-11T21:17:32.000Z"
                      water_name:
                        type: "Property"
                        value: "Parthe 1"
                        unitCode: "C62"
                        observedAt: "2025-10-11T21:17:32.000Z"
                      water_level:
                        type: "Property"
                        value: 180
                        unitCode: "MMT"
                        observedAt: "2025-10-11T21:17:32.000Z"
                    - id: "urn:ngsi-ld:Device:eui-a840410000000101"
                      type: "TemperatureDevice"
                      "@context":
                        - "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld"
                        - "https://makerspace-partheland.de/ngsi-ld/v1/"
                      name:
                        type: "Property"
                        value: "LSN50 001 Kirchbruch Beucha"
                      deviceType:
                        type: "Property"
                        value: "temperature"
                      location:
                        type: "GeoProperty"
                        value:
                          type: "Point"
                          coordinates: [12.567174780249111, 51.32401979862517]
                      status:
                        type: "Property"
                        value: "online"
                        observedAt: "2025-10-11T21:07:58.237Z"
                      temperature_1:
                        type: "Property"
                        value: 14.4
                        unitCode: "CEL"
                        observedAt: "2025-10-11T21:07:51.000Z"
                      temperature_2:
                        type: "Property"
                        value: 13.1
                        unitCode: "CEL"
                        observedAt: "2025-10-11T21:07:51.000Z"
                locationAggregation:
                  summary: "Standort-Aggregation (location + sensor)"
                  value:
                    id: "urn:ngsi-ld:Location:naunhof"
                    type: "Location"
                    location:
                      type: "GeoProperty"
                      value:
                        type: "Point"
                        coordinates: [12.586797, 51.283337]
                    temperature:
                      type: "Property"
                      value: 13.7
                      unitCode: "CEL"
                      observedAt: "2025-10-11T19:35:14.264Z"
                    aggregation:
                      type: "Property"
                      value: "median"
                    deviceCount:
                      type: "Property"
                      value: 8
                    devices:
                      type: "Property"
                      value:
                        - "Naunhof_Nr1"
                        - "Naunhof_Nr3"
                        - "Naunhof_Nr5"
                    "@context":
                      - "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld"
                      - "https://makerspace-partheland.de/ngsi-ld/v1/"
        '400':
          description: "Ungültiger Parameter (z.B. falsche Kombination von location/sensor mit id/type, unbekannter Sensor oder Aggregation)."
        '401':
          description: "API-Key erforderlich oder ungültig für angeforderte Detailinformationen."
        '404':
          description: "Kein Gerät bzw. keine Messwerte zur Abfrage gefunden."

  /ngsi-ld/entities/{type}:
    get:
      operationId: listDevicesByTypeNGSILD
      tags: ["Geräte"]
      summary: "Erhalte Geräte eines spezifischen Typs im NGSI-LD-Format"
      description: |
        Filtert NGSI-LD-Entitäten nach Gerätetyp. `type` ist einer der Werte `sensebox`, `waterlevel`, `temperature` oder `moisture`.
      parameters:
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: "API-Key für detaillierte Attribute (z.B. interne Metadaten); ohne Key werden nur freigegebene Attribute ausgegeben."
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [sensebox, waterlevel, temperature, moisture]
          description: "Gerätetyp"
      responses:
        '200':
          description: "NGSI-LD-Entitäten des Gerätetyps"
          content:
            application/ld+json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: "Ungültiger Gerätetyp"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: "API-Key erforderlich oder ungültig für angeforderte Detailinformationen."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: "Kein Gerät für den Typ gefunden."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /ngsi-ld/entities/{type}/{id}:
    get:
      operationId: getDeviceNGSILD
      tags: ["Geräte"]
      summary: "Erhalte ein Gerät im NGSI-LD-Format"
      description: |
        Liefert eine einzelne NGSI-LD-Geräteentität. `type` ist einer der Werte `sensebox`, `waterlevel`, `temperature` oder `moisture`.
      parameters:
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: "API-Key für detaillierte Attribute (z.B. interne Metadaten); ohne Key werden nur freigegebene Attribute ausgegeben."
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [sensebox, waterlevel, temperature, moisture]
          description: "Gerätetyp"
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Geräte-ID oder Measurement-Name"
      responses:
        '200':
          description: "NGSI-LD-Geräteentität"
          content:
            application/ld+json:
              schema:
                type: object
        '400':
          description: "Ungültiger Gerätetyp"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: "API-Key erforderlich oder ungültig für angeforderte Detailinformationen."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: "Kein Gerät für die Kombination aus Typ und ID gefunden."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /geojson/gateways:
    get:
      operationId: listGatewaysGeoJSON
      tags: ["Geräte"]
      summary: "Erhalte Gateways im GeoJSON-Format"
      description: |
        Liefert alle bekannten Gateways als GeoJSON-FeatureCollection. Status basiert auf den letzten Status-/Uplink-Zeitpunkten.
      parameters:
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: "API-Key für detaillierte Attribute (z. B. interne Metadaten)."
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: "Gateway-ID (optional)"
      responses:
        '200':
          description: "GeoJSON-FeatureCollection mit Gateways"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoJSONResponse'
              examples:
                gatewayExample:
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        id: "db-ware-gateway-dreimu-001"
                        geometry:
                          type: "Point"
                          coordinates: [12.467993795871735, 51.218953978312285]
                        properties:
                          name: "db-ware Gateway Dreiskau-Muckern 001"
                          type: "Gateway"
                          attributes: {}
                          last_seen_de: "11.10.2025, 23:46:21"
                          last_seen: "2025-10-11T21:46:21.362Z"
                          status: "Online"
        '400':
          description: "Ungültiger Parameter"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: "API-Key erforderlich oder ungültig"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: "Kein Gateway gefunden"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /geojson/gateways/{id}:
    get:
      operationId: getGatewayGeoJSON
      tags: ["Geräte"]
      summary: "Erhalte ein Gateway im GeoJSON-Format"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Gateway-ID"
      responses:
        '200':
          description: "GeoJSON-FeatureCollection mit einem Gateway"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoJSONResponse'
        '404':
          description: "Gateway nicht gefunden"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
