openapi: 3.0.0
info:
  title: LoRa Geräte API
  description: API für den Zugriff auf LoRa-Geräte und deren Sensordaten
  version: 1.0.3
  contact:
    name: Makerspace Partheland e.V.
    email: info@makerspace-partheland.de
    url: https://makerspace-partheland.de

servers:
  - url: https://data.makerspace-partheland.de/
    description: Produktions-Server
    
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API-Key für detaillierte Informationen
      
paths:
  /LoRaDevices:
    get:
      summary: "Erhalte alle LoRa-Geräte"
      responses:
        '200':
          description: "Eine Liste aller LoRa-Geräte"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            deviceType:
                              type: string
                            binaryStatus:
                              type: integer
                              enum: [0, 1]
                            active:
                              type: boolean
                            name:
                              type: string
                            displayName:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
                            measurement:
                              type: string
                            openSenseMap:
                              type: string
                            url:
                              type: string
                            fields:
                              type: object
                              additionalProperties: true

  /LoRaDevices/sensebox:
    get:
      summary: "Erhalte alle senseBox-Geräte"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: "Eine Liste aller senseBox-Geräte"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            deviceType:
                              type: string
                            binaryStatus:
                              type: integer
                              enum: [0, 1]
                            active:
                              type: boolean
                            name:
                              type: string
                            displayName:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
                            measurement:
                              type: string
                            openSenseMap:
                              type: string
                            url:
                              type: string
                            fields:
                              type: object
                              additionalProperties: true

  /LoRaDevices/sensebox/health:
    get:
      summary: "Erhalte den Status der senseBox-Geräte"
      parameters:
        - name: device
          in: query
          required: false
          schema:
            type: string
          example: Beucha_Nr1
      responses:
        '200':
          description: "Aktueller Status der senseBox-Geräte"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            name:
                              type: string
                            measurement:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string

  /LoRaDevices/sensebox/details:
    get:
      summary: "Erhalte Details einer bestimmten senseBox:home"
      parameters:
        - name: device
          in: query
          required: false
          schema:
            type: string
          example: Beucha_Nr1
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: "Details einer bestimmten senseBox:home"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            measurement:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
                            binaryStatus:
                              type: integer
                              enum: [0, 1]
                            fields:
                              type: object
                              additionalProperties: true
                              
  /LoRaDevices/waterlevel:
    get:
      summary: "Erhalte alle Wasserstand-Geräte"
      responses:
        '200':
          description: "Eine Liste aller Wasserstand-Geräte"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            deviceType:
                              type: string
                            binaryStatus:
                              type: integer
                              enum: [0, 1]
                            active:
                              type: boolean
                            name:
                              type: string
                            displayName:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
                            measurement:
                              type: string
                            openSenseMap:
                              type: string
                            url:
                              type: string
                            fields:
                              type: object
                              additionalProperties: true

  /LoRaDevices/waterlevel/health:
    get:
      summary: "Erhalte den Status der Wasserstand-Geräte"
      parameters:
        - name: Device
          in: query
          required: false
          schema:
            type: string
          example: LDDS75_Naunhof_1
      responses:
        '200':
          description: "Aktueller Status der Wasserstand-Geräte"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            name:
                              type: string
                            measurement:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string

  /LoRaDevices/waterlevel/details:
    get:
      summary: "Erhalte Details eines bestimmten Wasserstand-Geräts"
      parameters:
        - name: Device
          in: query
          required: false
          schema:
            type: string
          example: LDDS75_Naunhof_1
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: "Details eines bestimmten Wasserstand-Sensors"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            measurement:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
                            binaryStatus:
                              type: integer
                              enum: [0, 1]
                            openSenseMap:
                              type: string
                            url:
                              type: string
                            fields:
                              type: object
                              additionalProperties: true
