openapi: 3.0.0
info:
  title: LoRa Geräte API
  description: API für den Zugriff auf LoRa-Geräte und deren Sensordaten
  version: 1.0.3
  contact:
    name: Makerspace Partheland e.V.
    email: info@makerspace-partheland.de
    url: https://makerspace-partheland.de

servers:
  - url: https://data.makerspace-partheland.de/
    description: Produktions-Server
    
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API-Key für detaillierte Informationen
      
paths:
  /v1/LoRaDevices:
    get:
      summary: "Erhalte alle LoRa-Geräte"
      responses:
        '200':
          description: "Eine Liste aller LoRa-Geräte"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            deviceType:
                              type: string
                            binaryStatus:
                              type: integer
                              enum: [0, 1]
                            active:
                              type: boolean
                            name:
                              type: string
                            displayName:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
                            measurement:
                              type: string
                            openSenseMap:
                              type: string
                            url:
                              type: string
                            fields:
                              type: object
                              properties:
                                temperature:
                                  type: number
                                humidity:
                                  type: number
                                pressure:
                                  type: number
              examples:
                loRaDeviceExample:
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        properties:
                          deviceType: "sensor"
                          binaryStatus: 1
                          active: true
                          name: "Device1"
                          displayName: "Gerät 1"
                          status: "online"
                          lastSeen: "2023-10-01T12:00:00Z"
                          measurement: "internal_device_1"
                          openSenseMap: "https://opensensemap.org/explore/12345"
                          url: "https://sensoren.makerspace-partheland.de/device1"
                          fields:
                            temperature: 22.5
                            humidity: 55.0
                            pressure: 1013.25

  /v1/LoRaDevices/senseboxes:
    get:
      summary: "Erhalte alle senseBox-Geräte"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: "Eine Liste aller senseBox-Geräte"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            deviceType:
                              type: string
                            binaryStatus:
                              type: integer
                              enum: [0, 1]
                            active:
                              type: boolean
                            name:
                              type: string
                            displayName:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
                            measurement:
                              type: string
                            openSenseMap:
                              type: string
                            url:
                              type: string
                            fields:
                              type: object
                              properties:
                                temperature:
                                  type: number
                                humidity:
                                  type: number
                                pressure:
                                  type: number
              examples:
                senseBoxExample:
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        properties:
                          deviceType: "senseBox"
                          binaryStatus: 1
                          active: true
                          name: "senseBox1"
                          displayName: "senseBox 1"
                          status: "online"
                          lastSeen: "2023-10-01T12:00:00Z"
                          measurement: "internal_senseBox_1"
                          openSenseMap: "https://opensensemap.org/explore/67890"
                          url: "https://sensoren.makerspace-partheland.de/sensebox1"
                          fields:
                            temperature: 20.0
                            humidity: 60.0
                            pressure: 1012.00

  /v1/LoRaDevices/senseboxes/health:
    get:
      summary: "Erhalte den Status der senseBox-Geräte"
      parameters:
        - name: device
          in: query
          required: false
          schema:
            type: string
          example: Beucha_Nr1
      responses:
        '200':
          description: "Aktueller Status der senseBox-Geräte"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            name:
                              type: string
                            measurement:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
              examples:
                senseBoxHealthExample:
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        properties:
                          name: "senseBox1"
                          measurement: "internal_sensebox_1"
                          status: "online"
                          lastSeen: "2023-10-01T12:00:00Z"

  /v1/LoRaDevices/senseboxes/details:
    get:
      summary: "Erhalte Details einer bestimmten senseBox:home"
      parameters:
        - name: device
          in: query
          required: false
          schema:
            type: string
          example: Beucha_Nr1
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: "Details einer bestimmten senseBox:home"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            measurement:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
                            binaryStatus:
                              type: integer
                              enum: [0, 1]
                            fields:
                              type: object
                              properties:
                                temperature:
                                  type: number
                                humidity:
                                  type: number
                                pressure:
                                  type: number
              examples:
                senseBoxDetailsExample:
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        properties:
                          name: "senseBox1"
                          displayName: "senseBox 1"
                          measurement: "internal_sensebox_1"
                          status: "online"
                          lastSeen: "2023-10-01T12:00:00Z"
                          binaryStatus: 1
                          fields:
                            temperature: 21.5
                            humidity: 58.0
                            pressure: 1011.50

  /v1/LoRaDevices/waterlevels:
    get:
      summary: "Erhalte alle Wasserstand-Geräte"
      responses:
        '200':
          description: "Eine Liste aller Wasserstand-Geräte"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            deviceType:
                              type: string
                            binaryStatus:
                              type: integer
                              enum: [0, 1]
                            active:
                              type: boolean
                            name:
                              type: string
                            displayName:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
                            measurement:
                              type: string
                            openSenseMap:
                              type: string
                            url:
                              type: string
                            fields:
                              type: object
                              properties:
                                waterLevel:
                                  type: number
              examples:
                waterLevelExample:
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        properties:
                          deviceType: "waterLevelSensor"
                          binaryStatus: 1
                          active: true
                          name: "WaterLevel1"
                          displayName: "Wasserstand 1"
                          status: "online"
                          lastSeen: "2023-10-01T12:00:00Z"
                          measurement: "internal_waterLevel_1"
                          openSenseMap: "https://opensensemap.org/explore/54321"
                          url: "https://sensoren.makerspace-partheland.de/waterlevel1"
                          fields:
                            waterLevel: 30.5

  /v1/LoRaDevices/waterlevels/health:
    get:
      summary: "Erhalte den Status der Wasserstand-Geräte"
      parameters:
        - name: device
          in: query
          required: false
          schema:
            type: string
          example: LDDS75_Naunhof_1
      responses:
        '200':
          description: "Aktueller Status der Wasserstand-Geräte"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            name:
                              type: string
                            measurement:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
              examples:
                waterLevelHealthExample:
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        properties:
                          name: "WaterLevel1"
                          measurement: "internal_waterLevel_1"
                          status: "online"
                          lastSeen: "2023-10-01T12:00:00Z"

  /v1/LoRaDevices/waterlevels/details:
    get:
      summary: "Erhalte Details eines bestimmten Wasserstand-Geräts"
      parameters:
        - name: device
          in: query
          required: false
          schema:
            type: string
          example: LDDS75_Naunhof_1
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: "Details eines bestimmten Wasserstand-Sensors"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        properties:
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            measurement:
                              type: string
                            status:
                              type: string
                            lastSeen:
                              type: string
                            binaryStatus:
                              type: integer
                              enum: [0, 1]
                            openSenseMap:
                              type: string
                            url:
                              type: string
                            fields:
                              type: object
                              properties:
                                waterLevel:
                                  type: number
              examples:
                waterLevelDetailsExample:
                  value:
                    type: "FeatureCollection"
                    features:
                      - type: "Feature"
                        properties:
                          name: "WaterLevel1"
                          displayName: "Wasserstand 1"
                          measurement: "internal_waterLevel_1"
                          status: "online"
                          lastSeen: "2023-10-01T12:00:00Z"
                          binaryStatus: 1
                          openSenseMap: "https://opensensemap.org/explore/54321"
                          url: "https://sensoren.makerspace-partheland.de/waterlevel1"
                          fields:
                            waterLevel: 30.5
